SESSION_SECRET=zhuu_hosting_secret_2077
OWNER_EMAIL=zhuusite@gmail.com
BASE_URL=https://zhuuhosting.vercel.app
MONGODB_URI=mongodb+srv://zhuuadmin:PASSWORD@zhuuhosting.wrvrppa.mongodb.net/zhuuhosting?appName=ZhuuHosting
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
